@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 1 20% 74%;
    --primary-foreground: 0 0% 0%;
    --secondary: 161 76% 33%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 216 77% 54%;
    --accent-foreground: 0 0% 100%;
    --accent-warm: 38 55% 55%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 15%;
    --ring: 216 77% 54%;
    --chart-1: 1 20% 74%;
    --chart-2: 161 76% 33%;
    --chart-3: 216 77% 54%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 30%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 3%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 1 20% 74%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 216 77% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
